language: bash
sudo: required 
dist: trusty

env:
  ENV: "dev"
  global:
    - FUGUE_RELEASE="testing" 
    - FUGUE_VERSION="0.40.14-2768"

before_install:
  - sudo pip install awscli credstash
  - aws s3 cp s3://saboRepo/${FUGUE_RELEASE}/fugue-client_${FUGUE_VERSION}_amd64.deb fugue-cli.deb

install:
  - sudo dpkg --install fugue-cli.deb
  - credstash -r us-east-1 list
  - credstash -r us-east-1 getall

script:
  - export DEMO_CIDR=$(bash -c 'credstash get fugue-runner.${ENV}.cidr')
  - export DEMO_NAME=$(bash -c 'credstash get fugue-runner.${ENV}.name')
  - export DEMO_REGION=$(bash -c 'credstash get fugue-runner.${ENV}.region')
  - export DEMO_PUBSUBA=$(bash -c 'credstash get fugue-runner.${ENV}.pubsuba')
  - export DEMO_PUBSUBB=$(bash -c 'credstash get fugue-runner.${ENV}.pubsubb')
  - make
